<form class="example-form">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Форма для формул</mat-label>
    <input
      class="autocomplete-input"
      type="text" matInput
      autocomplete="disable"
      [matAutocomplete]="auto"
      name="formula"
      [(ngModel)]="formula"
      (ngModelChange)="newFormula($event)"
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let operator of mathFunctionArray" [value]="formula + operator">
        {{ operator }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
